# Виртуальное окружение
venv/
env/
.venv/

# Файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# База данных (необязательно, можно и загрузить)
# db.sqlite3

# Настройки IDE
.vscode/
.idea/
*.iml

# Системные файлы
.DS_Store
Thumbs.db